* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    font-size: 16px;
    color: white;
    font-family: Fira Code, sans-serif;
}

body {
    background-color: #211835;
}

.texto_ingresado {
    border-radius: 3px;
    width: 45%;
    border: 2px solid #5f5091;
    margin-top: 5px;
    text-decoration: none;
    margin-left: 10px;
    background-color: #211835;
    outline: none;
    height: 95%;
}

.texto_ingresado::placeholder {
    position: relative;
    top: 0;
    left: 5px;
    overflow-y: auto;
    font-weight: 400;
}

.editor {
    border-radius: 2px;
    background-color: #241d3e;
    margin-top: 5px;
    margin-left: 18px;
    width: 50%;
    height:95%;
    border: 1px solid #5f5091;
}

.credits {
    font-weight: bold;
    height: auto;
    padding: 2px;
    text-align: center;
    color: #5f5091;
}

.credits a {
    text-decoration: none;

    font-style: italic;
    transition: 1s all;
}

.credits a:hover {
    color: blue;
}